{% load static %}

{% block body %}

{% include 'navigation.html' %}

<marquee style="font-family:'Monotype-Corsiva' ;font-size: 25 ;color:darkcyan; background-color: yellow;">
    User Login
</marquee>
<hr>

<form class="container mt-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" name="fname" placeholder="Enter First Name">

        </div>

        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name">

        </div>

    </div>
   
</form>

{% include 'footer.html' %}

{% endblock%} 